
.highlighted-red {
  color: #FF6F59;
  background: rgba(253,16,21,.1);
  padding: 8px;
}

// SALLE



.contenu-salle {
  padding: 20px;
  text-align: center;
  margin: 15px;

  p {
    // margin: 20px;
    padding: 20px;
    font-size: 1.3em;
  }

  h2 {
    color: $dark-blue;
  }
}



#section-salle {
  margin-top: 10vh;
  // height: 700px;
}


// CONCEPT

.concept {
  // clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 7%);
  // height: 70vh;
  // margin-top: 200px;
}


.flex-concept {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-around;
}

.contenu-concept {
  text-align: center;
  // margin: 0 auto;
  // padding: 40px;



  //   h2 {
  //     font-size: 32px;
  //     text-align: left;
  //     padding: 20px;
  // }
}


#img-planning {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
}



// PLANNING

.container-planning {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.planning-title {

  h2 {
  font-size: 32px;
  }

  p {
  font-size: 22px;
  }
}

// PARTENAIRES

.bloc-partenaires {
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-align: center;
  align-content: space-between;
}



.title-partenaires {
  padding: 20px;
  margin: 10vh;
}

.logos-partenaires {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 100px;
}


.tarifs-violet {
  color: blue;
  font-weight: bold;
}

.line-tarif {
  padding-bottom: 25px;
  border-bottom: 0.5px solid #6c757d;

  li {
  list-style: none;
  text-align: center;
  }
}
