
.highlighted-red {
  color: #FF6F59;
  background: rgba(253,16,21,.1);
  padding: 8px;
}

// SALLE

// .lame-salle {
//   margin: 0 auto;
//   width: 800px;
// }

.contenu-salle {
  text-align: center;
  margin: 15px;

  p {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
  }
}


#section-salle {
  margin-top: 300px;
}


// CONCEPT

.concept {
  background-color: #FAFAFA;
  // clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 7%);
  height: 70vh;
  margin-top: 200px;
}


.flex-concept {
  display: flex;
  flex-grow: 1;
  margin: 40px;
  // width: 90%;
  justify-content: space-around;
  // padding: 20px;
}

.contenu-concept {
  text-align: center;
  // width: 800px;
  padding: 40px;
  // align-items: center;
  // justify-items: start;

    p {
    font-size: 22px;
    padding: 20px;
    text-align: left;
  }

    h2 {
      font-size: 32px;
      padding: 25px;
  }
}


#concept-image {
  clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 7%);
}



// PLANNING

.container-planning {
  margin-top: 10vh;
  text-align: center;
}

.planning-title {

  h2 {
  font-size: 32px;
  }

  p {
  font-size: 22px;
  padding: 20px;
  }
}

// PARTENAIRES

.bloc-partenaires {
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-align: center;
}

.title-partenaires {
  padding: 20px;
  margin: 10vh;
}

.logos-partenaires {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 100px;
}




