
.highlighted-red {
  color: #FF6F59;
  background: rgba(253,16,21,.1);
  padding: 8px;
}

// SALLE



.contenu-salle {
  padding: 20px;
  text-align: center;
  margin: 15px;

  p {
    // margin: 20px;
    padding: 20px;
    font-size: 1.3em;
  }

  h2 {
    color: $dark-blue;
  }
}



#section-salle {
  margin-top: 10vh;
  padding-bottom: 10vh;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}





.flex-concept {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-around;
}

.contenu-concept {
  text-align: center;
}

.contenu-grimpe-libre {
  text-align: left;
   p{
    padding: 0;
    margin: 0;
    margin-top: 5vh;
   }
}



#img-planning {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
}



// PLANNING

.container-planning {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.planning-title {

  h2 {
  font-size: 32px;
  }

  p {
  font-size: 22px;
  }
}

// PARTENAIRES

.bloc-partenaires {
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-align: center;
  align-content: space-between;
}



.title-partenaires {
  padding: 20px;
  margin: 10vh;
}

.logos-partenaires {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 100px;
}


.tarifs-violet {
  color: #161f6a;
  font-weight: bold;
}

.line-tarif {
  padding-bottom: 25px;
  border-bottom: 0.5px solid #6c757d;

  li {
    font-size: 18px;
    list-style: none;
    text-align: center;
  }
}

#section-tarifs {
  // background-image: url("./abstract-background.jpg");
  background-size: cover;
  background-position: center;
}
