.chaussons-niveaux {
  background-color: white;
  height: 70vh;
  margin-bottom: 20vh;

  h2 {
    padding: 60px 0;
  }
}


.cards-niveaux {
  text-align: center;
}

.lame-infos-pratiques {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.lame-infos-pratiques h2 {
  color: black;
}

.color {
  font-size: 16px;
  background-color: white;
  box-shadow: gba(0, 0, 0, 0.12) 0px 16px 40px;
  border-radius: 5px;
}


.chausson-infos {
  margin-top: 5px;
  padding: 10px 5px;
  line-height: 0.8;
}
