.lame-infos-pratiques {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.lame-infos-pratiques h2 {
  color: black;
}


#marianne {
  padding: 20px 10px;
  background-color: blue;
  border-radius: 25%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 30%;
  margin: 0 auto;
}
