
.lame-infos-pratiques {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.lame-infos-pratiques h2 {
  color: black;
}

.color {
  font-size: 16px;
  background-color: white;
  box-shadow: gba(0, 0, 0, 0.12) 0px 16px 40px;
  border-radius: 5px;
}

.chausson-item {
  background-color: white;
  width: minmax(200px, 400px);
  margin: 20px 20px;
  padding: 10px 10px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.chaussons-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
}


.chausson-infos {
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 50%;
}

.page-salle-texte {
  width: 40%;
  height: 30vh;
  text-align: left;

  h4 {
  font-size: 26px;
  color: #4F5D75;
  text-align: center;
  font-weight: normal;
  }

}

.intro-salle {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.lame1-salle {
  margin-bottom: 10vh;
  margin-top: 20vh;

}

@media(max-width: 992px) {
  .chaussons-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .chaussons-box {
    grid-template-columns: 1fr;
  }
}
