<%= render 'shared/navbar' %>
<div class="home-video-wrapper">
  <%= video_tag "beach.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="container d-flex lecture-video">
    <div class="row align-self-center">
      <h1 id="h1-home">En route vers le sommet</h1>
    </div>
  </div>
</div>

