<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://image.freepik.com/vecteurs-libre/montez-personnages-mur-falaise-sport-extreme-roches-pierres-grandes-collines-rocheuses-montagnes-explorer-sportifs-hommes-femmes_80590-5998.jpg);">
  <%= render "shared/navbar" %>
  <div class="container text-left">
    <h1>L'association qui donne envie d'atteindre des <span class="highlighted-red">sommets</span></h1>
  </div>
</div>
