<div class="banner">
  <%= render "shared/navbar" %>
  <div class="container d-flex banner-container">
    <div class="row justify-content-center">
      <div class="col align-self-center">
        <h1>AUME Escalade, <br>le club des grimpeurs de Saint-Gervais</h1>
      </div>
    </div>
  </div>
</div>
