<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://images.pexels.com/photos/714258/pexels-photo-714258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <%= render "shared/navbar" %>
  <div class="container text-left">
    <h1>L'association qui donne envie d'atteindre des <span class="highlighted-red">sommets</span></h1>
  </div>
</div>
