<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://images.pexels.com/photos/714258/pexels-photo-714258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-escalade.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "La salle", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inscription", "#", class: "nav-link", id:"btn-inscription" %>
      </li>
    </ul>
  </div>
</div>

  <div class="container text-left">
    <h1>AUME Escalade
    <br>L'association qui donne envie d'atteindre des <span class="highlighted-red">sommets</span></h1>
  </div>
</div>
