
<%= render 'shared/navbar' %>
<div class="home-video-wrapper2 banner">
  <div class="container d-flex lecture-video">
    <div class="row align-self-center">
      <h1 id="h1-home">La salle</h1>
    </div>
  </div>
</div>

