<div class="card-offer-offers">
  <div class="card-info mt-2">
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/9f/8d/0d/new-photos-of-one-club.jpg", class: "picto-offer" %>
    <p class="font-weight-bold">Le Club</p>
    <p>License annuelle avec cours hebdomadaires, le mercredi et le samedi. </p>
    <p>Tarif : Dès 280€</p>
  </div>
</div>

<div class="card-offer-offers">
  <div class="card-info">
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/9f/8d/0d/new-photos-of-one-club.jpg", class: "picto-offer" %>
    <p class="font-weight-bold my-2">La grimpe libre</p>
    <p>Entraînez-vous à votre rythme à partir de 19h et jusqu'à 22h. </p>
    <p>Tarif : 8€ l'entrée</p>
  </div>
</div>

<div class="card-offer-offers">
  <div class="card-info">
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/9f/8d/0d/new-photos-of-one-club.jpg", class: "picto-offer" %>
    <p class="font-weight-bold">Les événements privés</p>
    <p>Organisez vos séminaires ou challenges entre amis en privatisant la salle.</p>
    <p>Tarif : sur devis</p>
  </div>
</div>

