<div class="bloc-card">
  <div class="card-offer">
    <div class="card-title">
      <h3>Enfants</h3>
    </div>
    <div class="card-info">
        <ul>
          <div class="line-tarif">
            <li>Abonnement annuel</li>
            <li class="tarifs-violet">A partir de 270€</li>
          </div>
          <div class="line-tarif">
            <li>Séance Entraînement à l'unité</li>
            <li class="tarifs-violet">20€</li>
          </div>
          <div class="line-tarif">
            <li>Escalade libre - Entrée unitaire</li>
            <li class="tarifs-violet">8€</li>
          </div>

          <div class="line-tarif align-items-center">
            <li>Stage 4 jours</li>
            <li class="tarifs-violet">A partir de 150€</li>
          </div>
        </ul>
        <br>
     <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>

  <div class="card-offer">
    <div class="card-title">
      <h3>Adultes (+16 ans)</h3>
    </div>
    <div class="card-info">
      <ul>
        <div class="line-tarif">
          <li>Abonnement annuel</li>
          <li class="tarifs-violet">A partir de 180€</li>
        </div>

        <div class="line-tarif">
          <li>Séance Entraînement à l'unité</li>
          <li class="tarifs-violet">20€</li>
        </div>

        <div class="line-tarif">
          <li>Escalade libre - Entrée unitaire</li>
          <li class="tarifs-violet">8€</li>
        </div>

        <div class="line-tarif">
          <li>Stage 4 jours</li>
          <li class="tarifs-violet">A partir de 150€</li>
        </div>

      </ul>
      <br>
      <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>
</div>
