<div class="bloc-card">
  <div class="card-offer">
    <div class="card-title">
      <h3>Enfants -12 ans</h3>
    </div>
    <div class="card-info">
        <ul>
          <div class="line-tarif">
            <li>Abonnement annuel</li>
            <li class="tarifs-violet">320€</li>
          </div>

          <div class="line-tarif">
            <li>Entrée unitaire</li>
            <li class="tarifs-violet">8€</li>
          </div>

          <div class="line-tarif">
            <li>Stage 4 jours</li>
            <li class="tarifs-violet">120€</li>
          </div>

          <div class="line-tarif">
            <li>Location de chaussons</li>
            <li class="tarifs-violet">5€</li>
          </div>
        </ul>
        <br>
     <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>

  <div class="card-offer">
    <div class="card-title">
      <h3>Adultes</h3>
    </div>
    <div class="card-info">
      <ul>
        <div class="line-tarif">
          <li>Abonnement annuel</li>
          <li class="tarifs-violet">320€</li>
        </div>

        <div class="line-tarif">
          <li>Entrée unitaire</li>
          <li class="tarifs-violet">8€</li>
        </div>

        <div class="line-tarif">
          <li>Stage 4 jours</li>
          <li class="tarifs-violet">120€</li>
        </div>

        <div class="line-tarif">
          <li>Location de chaussons</li>
          <li class="tarifs-violet">5€</li>
        </div>
      </ul>
      <br>
      <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>
</div>
