
<section>
  <div class="container text-left section-offres mt-5">
  </div>
  <div class="bloc-offers">
    <div class="card-offer">
      <div class="card-title">
        <h2><span class="highlighted-red">Adhésion Club</span></h2>
        <div class="card-info">
          <div class="offer-content">
            <ul>
              <li>Cours collectifs</li>
              <li>Stages bloc, voie et grande voie</li>
              <li>Challenges saisonniers</li>
            </ul>
            <br>
          </div>
         <%= link_to "Découvrir", license_path, class: "btn-savoir-plus"  %>
        </div>
      </div>
    </div>
    <div class="card-offer">
      <div class="card-title">
        <h2><span class="highlighted-red">La grimpe libre</span></h2>
        <div class="card-info">
          <div class="offer-content">
            <ul>
              <li>Plages horaires dédiées en soirée</li>
              <li>Stages bloc, voie et grande voie</li>
              <li>Challenges saisonniers</li>
            </ul>
            <br>
          </div>
         <%= link_to "Découvrir", public_path, class: "btn-savoir-plus"  %>
        </div>
      </div>
    </div>
    <div class="card-offer">
      <div class="card-title">
        <h2><span class="highlighted-red">Evénements privés</span></h2>
        <div class="card-info">
          <div class="offer-content">
            <ul>
              <li>Privatisation Entreprises</li>
              <li>Cours particuliers à la demande</li>
              <li>Evénements sur mesure</li>
            </ul>
            <br>
          </div>
         <%= link_to "Découvrir", business_path, class: "btn-savoir-plus"  %>
        </div>
      </div>
    </div>
  </div>
</section>
