<div class="card-offer-offers">
  <div class="card-info">
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/9f/8d/0d/new-photos-of-one-club.jpg", class: "picto-offer" %>
    <h3 class="font-weight-bold my-2">A LA SESSION</h3>
    <p>Le mardi et le jeudi, de 19h à 21h.</p>
    <p>1. Grimpez en autonomie sous la surveillance d'un pro, avec votre propre matériel (sauf cordes).</p>
    <p class="font-weight-bold my-2">Tarif : 8€ l'entrée</p>

    <p>2. Profitez d'une session initiation ou perfectionnement animée par un pro, matériel fourni.</p>
    <p class="font-weight-bold my-2">Tarif : 20€ l'entrée</p>
  </div>
</div>

<div class="card-offer-offers">
  <div class="card-info">
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/9f/8d/0d/new-photos-of-one-club.jpg", class: "picto-offer" %>
    <h3 class="font-weight-bold">OFFRE BUSINESS</h3>
    <p>A la demande</p>
    <p>Organisez vos séminaires ou challenges entre amis en privatisant la salle.</p>
    <p>Le professionnel est responsable de l'usage de la location.</p>
    <p class="font-weight-bold my-2">Tarif : sur devis</p>
  </div>
</div>

