<div class="bloc-card">
  <div class="card-offer-offres-club">
    <div class="card-title">
      <h3>Intensif +10 ans</h3>
    </div>
    <div class="card-info">
        <ul>
          <div class="line-tarif">
            <li>Des séances au taquet.</li>
            <li>Une escalade résolument orientée vers la pratique en extérieur.</li>
            <li class="tarifs-violet">Durée: 3h</li>

          </div>
          <div class="line-tarif">
            <li>Accès aux créneaux libres du mardi et jeudi.</li>
            <li class="tarifs-violet">Durée : 2h</li>
          </div>

          <div class="line-tarif">
            <li>Option Compèt'</li>
            <li>8 séances de + les samedi pour s'entraîner ou aller sur les compétitions.</li>
            <li class="tarifs-violet">Durée : 3h</li>
          </div>

        </ul>
        <br>
     <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>

  <div class="card-offer-offres-club">
    <div class="card-title">
      <h3>Loisir + 15 ans</h3>
    </div>
    <div class="card-info">
      <ul>
        <div class="line-tarif">
          <li>Des séances à la salle pour redécouvrir l'escalade, s'améliorer et gagner en autonomie</li>
          <li class="tarifs-violet">Durée : 2h</li>
        </div>

        <div class="line-tarif">
          <li>Créneaux le mardi ou jeudi au choix</li>
          <li class="tarifs-violet">19h/21h</li>
        </div><div class="line-tarif">
            <li>Option séance à l'unité</li>
            <li>Intégrer le groupe loisir à la carte pour mieux coller à un planning chargé.</li>
            <li class="tarifs-violet">Tarif: 20€</li>

      </ul>
      <br>
      <%= link_to "S'inscrire", license_path, class: "btn-savoir-plus-rouge"  %>
    </div>
  </div>
</div>
