<div class="container infos-pratiques">
  <div class="card-offer-offers">
    <div class="card-info mt-2">
      <p class="font-weight-bold">Nos coordonnées</p>
      <p>Adresse : 40 rue des Lapinous, 74170 Saint-Gervais-Les Bains</p>
      <p>Téléphone : 04 65 65 65 65 </p>
      <p>Email: contact@aumeescalade.fr</p>
      <p>Bus 182, arrêt Les Marmottes</p>
    </div>
  </div>

  <div class="card-offer-offers">
    <div class="card-info">
      <p class="font-weight-bold">Les horaires</p>
      <p>Lundi au dimanche, de 9h00 à 22h00</p>
    </div>
  </div>
</div>


