<div class="container mapping">
  <h2>Venez on est pas loin !</h2>
  <div class="row justify-content-center">
    <div class="col-12">
      <div src="https://www.google.com/maps/embed/v1/place?key=MAPBOX_API_KEY"
        id="map";
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    </div>
  </div>
</div>

