<div class="container">
  <div class="tabs">
    <div role="tablist" aria-label="Offres">
      <button class="btn btn-primary" role="tab" aria-selected="true" id="Adultes">Adultes</button>
      <button class="btn btn-primary" role="tab" aria-selected="false" id="Enfants">Enfants (-16 ans)</button>
    </div>

    <div role="tabpanel" aria-labelledby="adultes">
      <div class="col-12 col-lg-6 creneaux-adultes d-flex">
        <div class="adultes-single">
          <h3>Performance</h3>
          <ul>
            <li>Entraînements 3h le lundi | 18h-21h | En indoor ou outdoor</li>
            <li>Accès libre | Mardi et Jeudi | 19h-21h | A la salle en grimpe libre</li>
            <p>Tarif : 280€</p>
          </ul>
        </div>
        <div class="adultes-single">
          <h3>Débutants</h3>
          <ul>
            <li>Entraînements 2h au choix le mardi ou le jeudi | 19h-21h | A la salle</li>
            <li>Accès libre | Mardi et Jeudi | 19h-21h | A la salle en grimpe libre</li>
            <p>Tarif : 200€</p>
          </ul>
        </div>
      </div>
    </div>

  <div role="tabpanel" aria-labelledby="enfants" hidden>
      <div class="col-12 col-lg-6 creneaux-adultes d-flex">
        <div class="adultes-single">
          <h3>Test Juju</h3>
          <ul>
            <li>Ahaha</li>
            <li>Accès libre | Mardi et Jeudi | 19h-21h | A la salle en grimpe libre</li>
            <p>Tarif : 280€</p>
          </ul>
        </div>
        <div class="adultes-single">
          <h3>Débutants</h3>
          <ul>
            <li>Entraînements 2h au choix le mardi ou le jeudi | 19h-21h | A la salle</li>
            <li>Accès libre | Mardi et Jeudi | 19h-21h | A la salle en grimpe libre</li>
            <p>Tarif : 200€</p>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

