<div class="banner">
<%= render 'shared/navbar' %>

  <div class="container">
    <h1>Immortalisez vos événements en <span class="highlighted-red">équipe</span></h1>
  </div>
</div>


<section>
  <div class="container" id="topics">
    <div class="container titles">
      <h2>Exemples d'événements</h2>
      <p>La salle peut accueillir jusqu'à 50 personnes</p>
    </div>

    <div class="grid-topics">
      <div class="card-single">
        <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
        <p id='bold-paragraph'>Responsiveness</p>
        <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
      </div>

    <div class="card-single">
      <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
      <p id='bold-paragraph'>Responsiveness</p>
      <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
    </div>

     <div class="card-single">
      <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
      <p id='bold-paragraph'>Responsiveness</p>
      <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
    </div>

     <div class="card-single">
      <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
      <p id='bold-paragraph'>Responsiveness</p>
      <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
    </div>

     <div class="card-single">
      <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
      <p id='bold-paragraph'>Responsiveness</p>
      <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
    </div>

     <div class="card-single">
      <img src="https://museum-ardeche.fr/wp-content/uploads/2016/02/picto-museum-planning.jpg" width="50px">
      <p id='bold-paragraph'>Responsiveness</p>
      <p id='grey-paragraph'>The adaptability of a canvas from mobile to tablet to desktop to super ultra mega widescreen.</p>
    </div>
  </div>
<section>


<section>
  <div class="container-fluid purple-background">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 lg-8">
          <h2 style="color: white">Réunissez vos équipes pour un moment original</h2>
        </div>
        <div class="col-md-6 lg-4">
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
