<%= render 'shared/navbar' %>
<div class="home-video-wrapper-entrainement banner">
  <div class="container d-flex lecture-video">
    <div class="row align-self-center">
      <h1 id="h1-home">Les entraînements</h1>
    </div>
  </div>
</div>

<section>
  <div class="container d-flex justify-content-center my-5">
    <h2>Deux formules entrainements </h2>
  </div>
  <%= render "shared/bloc-offres-entrainements" %>
</section>

<%= render "shared/footer" %>
