<%= render 'shared/navbar' %>
<div class="home-video-wrapper3 banner">
  <div class="container d-flex lecture-video">
    <div class="row align-self-center">
      <h1 id="h1-home">Les infos pratiques</h1>
    </div>
  </div>
</div>


<%= render 'shared/map' %>
<%= render 'shared/footer' %>

