<div class="banner">
<%= render 'shared/navbar' %>

  <div class="container">
    <h1>3 espaces, 2 disciplines, <span class="highlighted-red">1 passion</span></h1>
  </div>
</div>

<%= render "shared/footer" %>

