.background-purple {
 // background-color: #8EB7FC;
 background-image: linear-gradient(135deg, #ecf7ff 0%, #95c1e2 100%);
}

.background-sweet-purple {
  background-color: $sweet-purple;
}


.lame-banner-purple {
  height: 30vh;
  width: minmax(600, auto);
  border-radius: 25px;
  font-size: 28px;
  vertical-align: middle;
}
