.banner {
  height: 80vh;
  padding-top: 30vh;
  background-size: cover;
  position: relative;
}

.banner h1, h3 {
  color: white;
}

.container {
  text-align: center;
}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
