.banner {
  height: 70vh;
  position: relative;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #607ac7 100%);
  margin-bottom: 5vh;
}


.container {
  text-align: center;
}

// .logo-baseline {
//   width: 600px;
//   display: flex;
//   align-items: center;
// }

