.banner {
  height: 70vh;
  padding-top: 10vh;
  background-color: #8eb7fc;
  background-image: linear-gradient(0deg, #8eb7fc 0%, #fbfaff 100%), url(https://image.freepik.com/vecteurs-libre/montez-personnages-mur-falaise-sport-extreme-roches-pierres-grandes-collines-rocheuses-montagnes-explorer-sportifs-hommes-femmes_80590-5998.jpg);

}


.container {
  text-align: center;
}

.logo-baseline {
  width: 600px;
  display: flex;
  align-items: center;
}

