

.btn-savoir-plus {
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  display: inline-block;
  background-color: white;
  color: #6c757d;
  border-radius: 25px;
  // border: 1px solid #6c757d;
  margin: 15px;

  &:hover {
    background-color: #FF6F59;
    text-decoration: none;
    color: white;
    // border: 1px solid white;
    border-radius: 5px;
    padding: 12px 20px;
    border-radius: 25px;
    margin: 15px;
  }
}

#btn-inscription {
  color: red;
}

.inscription-big {
  height: 70px;
  width: 40%;
}

.btn-savoir-plus-rouge {
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  display: inline-block;
  background-color: #FF6F59;
  border-radius: 25px;
  border: 1px solid white;
  margin: 15px;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
