.container-form {
  width: 33%;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
  position: absolute;
  top: 600px;
  right: 600px;

}

.form-control {
  height: 60px;
  margin-bottom: 30px;
}

.input label {
  color: #86868b;
}

