.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
height: 100vh;
display: flex;
}

#h1-home {
  color: white;
  font-size: 80px;
  text-shadow: 0 5px 15px rgba(0,0,0,.5);
  line-height: 1.2;
}

.lecture-video {
  margin: 0 auto;
  max-width: 300px;
  // height: 80vh;
}

.home-video-wrapper2 {
  height: 80vh;
  display: flex;
  background-image: url(https://lh3.googleusercontent.com/proxy/7VR_gxgck0HZOt5JUq2jnFCddzeM0Fhln2tMFBN-sExiVt1Phf5EO2xmB7s5FEf1uuu2e_SKOBKraKb2OOKRmqhCpTnBH9avbWTRTAmzHKvJO1SrMPiRojeY_3MHECzKFG1UXr6maJ8TK110tManKUTP84iz);
  background-size: cover;
  background-position: center;
}
